@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="">Trabalho 04 - Path traversal</h1>
</div>

<span class="text-primary font-weight-bold">Autores: </span>
<ul>
    <li>Francisco Lucas Sens</li>
    <li>Patrick Krauss</li>
</ul>
